
{% extends "AppRecetas/base.html" %}



{ % load static % }


{% block  titulo %}
                                
Listado de recetas

{% endblock  %}

{% block  titulo_rec_1 %}  

De usuarios
{% endblock %}

{% block complement%}

{% for recetasUsr in  lista_recetasUsr %}


    <p>Nombre: {{recetasUsr.nom_platosUsr}}  </p>
    



<button>

    <a href=" {% url 'eliminarRecetasUsr' recetasUsr.nom_platosUsr %}  ">Eliminar</a>

</button>


<button>

    <a href=" {% url 'updateRecetasUsr' recetasUsr.nom_platosUsr %}  ">actualizar</a>
    
    </button>
    
<br>

 {%endfor%}
 <br>

 <a href=" {% url 'AddRecetasUsr'  %}  ">Crear receta</a>
 <br>
 <a href="{% url 'seekRecetasUsr' %}">buscar recetas de usuario</a>

 
<br>
{% endblock %}

{% block titulos_rec_2 %}

De la pagina

{% endblock titulos_rec_2 %}

{% block complement_1 %}

{% for recetasMain in  lista_recetasMain %}

<br>
    <p>Nombre: {{recetasMain.nom_platos}}  </p>
    



<button>
{% if request.user.is_authenticated  %}
<a href=" {% url 'eliminarRecetasMain' recetasMain.nom_platos %}  ">Eliminar</a>
{% endif %}
</button>


<button>

<a href=" {% url 'updateRecetasMain' recetasMain.nom_platos %}  ">actualizar</a>
    
</button>

<br>



{%endfor%}
<br>

<a href=" {% url 'AddRecetasMain'  %}  ">Crear receta</a>
<br>
<a href="{% url 'seekRecetas' %}">buscar recetas de la pagina </a>
{%endblock%}