{% extends "AppRecetas/base.html" %}



{ % load static % }


{% block  titulo %}
                                
Esta es mi pagina de busqueda de recetas

{% endblock  %}

{% block  complement %}

<h5>
    Ingrediente
    
</h5>

    
<form action="/AppRecetas/showRecetas/" method="GET" >

    <input type="text" name="ingredientes"  id="ingredientes">

    <input type="submit" value="Busacar">
    
    

</form>
                                
                                
{% endblock  %}
