{% extends "AppRecetas/base.html" %}feature



{ % load static % }


{% block  titulo %}
                                
Esta es mi pagina de resultados

{% endblock  %}



{% block  complement %}

<p>Estamos buscando : {{ingreseek}}</p>

{%  for RecetasMains in ingrefind %}
    <li> Nombre: {{RecetasMains.nom_platos}} <br>
         Receta: {{RecetasMains.receta}} <br>
         Igredientes: {{RecetasMains.ingredientes}} <br>
         Tiempo de elabaracion: {{RecetasMains.tiempo}} <br>
         Nivel de dificulad: {{RecetasMains.dificultad}} <br>
         Tipo de cocina: {{RecetasMains.tipoDeCocina}} <br>
         Origen de la receta: {{RecetasMains.fuente}} <br>
         Pasos de la receta: {{RecetasMains.procedimiento}} <br>
         


   
   
   
   
   
    </li>
{% endfor %}  

{% endblock  %}



nom_platos = models.CharField(max_length=20)
    ingredientes = models.CharField(max_length=100)
    receta = models.CharField(max_length=100)
    tiempo = models.IntegerField()
    dificultad = models.CharField(max_length=10)
    tipoDeCocina = models.CharField(max_length=20)
    fuente = models.CharField(max_length=30)
    procedimiento = models.TextField()