{% extends "AppRecetas/base.html" %}



{ % load static % }


{% block  titulo %}
                                
Esta es mi pagina muestra busquede de usuarios 

{% endblock  %}



{% block  complement %}


{%  for usuario in object_list %}
    
<p> Nombre: {{usuario.nombreUsr}} <br> Email: {{usuario.emailUsr}}   </p>
 
    <a href=" {% url 'detalleUsuario' usuario.id %}"> ver detalle</a>
    <a href=" {% url 'updateUsuario' usuario.id %}">editar</a>
    <a href=" {% url 'borrarUsuario' usuario.id %}">borrar</a>
    
    
{% endfor %}  
<br>
    <a href=" {% url 'crearUsuario' %}"> crear usuario</a>


{% endblock  %}